.list{
    width: 200px;
    border: solid gray 3px;
    border-collapse: initial;
}

li{
    margin: 10px;
    padding: 10px;
    background-color: khaki;
    list-style-type: none;
}

div{
    margin: 40px;
}