.Person{
        width: 60%;
        margin: auto;
        margin-bottom: 23px;
        border: 1px solid black;
        box-shadow: 0 2px 3px grey;
        padding: 60px;
        text-align: center;
}